html, body {
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.link {
    stroke: #aaa;
}

.node text {
    stroke: #333;
    cursor: pointer;
}

.node circle {
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}
